.pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgba(33, 33, 33, 0.85);
}

@media (min-width: 0px) and (max-width: 500px) {
    .pagination {
        max-width: 340px;
    }
}

.pageItem {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;
    height: 14px;
    width: 14px;
    background-color: antiquewhite;
}
