.pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 5px;
    background: rgba(33, 33, 33, 0.85);
}

@media (min-width: 0px) and (max-width: 500px) {
    .pagination {
        max-width: 340px;
    }
}

.BookList h1 {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
}
.whiteLineHr {
    height: 3px;
    background-color: #64646b;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}



.pageItem {
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    background-color: antiquewhite;
}
