.pagination {
    background: rgba(33, 33, 33, 0.85);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1150px;
    border-radius: 5px;
}

@media (min-width: 0px) and (max-width: 500px) {
    .pagination {
        max-width: 340px;
    }
}

.pageItem {
    background-color: antiquewhite;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.pageLink {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    width: 40px;
    height: 20px;

}
