.Button {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #c4a47e;
    background-image: url("./search-zoom_ico.svg");
    color: rebeccapurple;
    border-radius: 5px;
    position: relative;
    top: -55px;
    left: 493px;
}