body {
}
.FindPage {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    /*flex-grow: 1;*/
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .SearchDiv {
        max-width: 970px;

    }
}

@media (max-width: 992px) {
    .SearchDiv {
        max-width: none;
    }
}

@media (max-width: 767px) {
    .SearchDiv {
        max-width: 750px;

    }
}

.SearchDiv {
    box-sizing: border-box;
    height: 300px;
    margin: 0 auto;
    padding: 0 15px;
    background: black;
}

.FindPage h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-left: 10px;
}

.SpanNameInput {
    color: #fff;
    margin: 10px;
}

.SortDiv {
    display: flex;
}

.inputFind {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 30px 10px;
}