body {
}
.FindPage {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .SearchDiv {
        max-width: 970px;

    }
}

@media (max-width: 992px) {
    .SearchDiv {
        max-width: none;
    }
}

@media (max-width: 767px) {
    .SearchDiv {
        max-width: 750px;

    }
}