.FindPage {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #212020 0%, #64646b 100%);
}

.FindPage h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-left: 10px;
}

.SpanNameInput {
    color: #fff;
    margin: 10px;
}

.SearchDiv {
    width: 600px;
    height: 300px;
    background: black;

}

.SortDiv {
    display: flex;
}

.inputFind {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 30px 10px;
}